html, body {
	overflow: visible;
}
.navbar .nav > li > a {
	padding-left: 6px;
	padding-right: 12px;
}
#mainContainer {
	background-color: #fff;
	padding: 3px 3px 3px 3px;
	margin: 0;
};
#detailsFilesPage a {
	padding: 3px;
}
.hiddenPath {
	display: none;
}
h5, #detailsTrackersPage a, #detailsFilesPage a {
	word-break:break-all;
	word-break:break-word;
}
#detailsFilesPage > div {
	padding-right: 44px;
	margin-right: 0 !important;
}
#detailsFilesPage div {
	margin-right: -44px;
}
#detailsFilesPage button.btn {
	margin-right: -44px;
}
#detailsFilesPage a {
	display: inline-block;
	margin-left: 14px;
}
#detailsFilesPage .icon-file {
	position: absolute;
	margin-left: -14px;
}
select {
	width:auto;
}
