html, body {
	overflow: visible;
}
.navbar .nav > li > a {
	padding-left: 6px;
	padding-right: 12px;
}
#mainContainer {
	background-color: #fff;
	padding: 3px 3px 3px 3px;
	margin: 0;
};
#detailsFilesPage a {
	padding: 3px;
}
.hiddenPath {
	display: none;
}