html, body {
	overflow: visible;
}
.navbar .nav > li > a {
	padding-left: 6px;
	padding-right: 12px;
}
#mainContainer {
	background-color: #fff;
	padding: 60px 3px 41px 3px;
	margin: 0;
};
#detailsFilesPage a {
	padding: 3px;
}
.hiddenPath {
	display: none;
}
.nav-tabs {
        background-color: #fff;
        padding-top: 3px;
        padding-left: 3px;
}
.table {
        margin-bottom: 0;
}